<!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload File Tutorial</title>
  </head>
  <body>
    <div
      class="container col-sm-12"
      id="choose-files"
      oncopy="return false"
      oncut="return false"
      onpaste="return false"
    >
      <div class="row">
        <form
          action="/api/uploadFile"
          enctype="multipart/form-data"
          method="POST"
        >
          <input type="file" class="admin__input" id="myFile" name="myFile" />
          <input class="admin__submit" type="submit" />
        </form>

        
      </div>
    </div>
  </body>
</html> -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="app">
      <form action="/uploadFile" enctype="multipart/form-data" method="POST">
        <div>
          <% if(typeof message != "undefined"){ %> 
            <% if(status === 200){ %>
            <p class="wrn-msg"><%= message %></p>
            <%} else { %>
            <p class="err-msg"><%= message %></p>
            <%} %> 
          <%} %>

          <h1>Upload File</h1>
        </div>

        <div class="form-group">
          <label> Image: </label>
          <input type="file" id="myFile" name="myFile" />
        </div>
        <div>
          <input type="submit" value="Submit" />
        </div>
        <!-- <br />
        <small><a href="/register">No account? Create account</a></small>
        <small><a href="/forgotpassword">Forgot password?</a></small> -->
      </form>
    </div>
  </body>
</html>
